<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/MyFramework.css" />
    <link rel="stylesheet" href="~/Normalization.css" />
</head>
<body class="grad-black-white">
    <div class="container full-screen flex-center flex-row-wrap">
        @RenderBody()
    </div>
</body>
</html>
