@{
    ViewBag.Title = "Home";    
}
<div class="round2-card mar-10px pad-20px">@ViewBag.p1</div>
<div class="round2-card mar-10px pad-20px">@ViewBag.p2</div>
<div class="round2-card mar-10px pad-20px">@ViewBag.p3</div>
<div class="mar-20px pad-20px w-700px yellow-700">@ViewBag.Pchild</div>