<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Normalization.css" />
    <link rel="stylesheet" href="~/MyFramework.css" />
    <link rel="stylesheet" href="~/MyCustom.css" />
    @* font awesome library  *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @* google fonts  *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        @* header *@
        <div class="header">
            <div class="container">
                <div class="logo">
                    <i class="fa-solid fa-money-bill-trend-up"></i>
                    <h1 class="h1">STOCK</h1>
                </div>
                <div class="tools">
                    <input placeholder="Seacrch Stocks" name="Search" class="search"/>
                    <i class="fa-solid fa-gear"></i>
                    <a class="login">Login</a>
                </div>
            </div>
            @* nav *@
            <div class="nav">
                <div class="container">
                    <ul>
                        @if(ViewBag.path == "Index")
                        {
                            <li><a href="~/Trade/Index" class="active">Trade</a></li>
                            <li><a href="~/Trade/Orders">orders</a></li>
                        }
                        else{
                            <li><a href="~/Trade/Index">Trade</a></li>
                            <li><a href="~/Trade/Orders" class="active">orders</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        @* Ribbon *@
        <div class="ribbon">
            <div class="container">
                <div class="content">
                    <span>Stocks</span>
                    <i class="fa-solid fa-caret-right"></i>
                    <span>@ViewBag.path</span>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    @RenderSection("main",false);
</body>
</html>
