@{
    ViewBag.Title = "Home";
}
<div class="round2-card w-300px yellow-700 mar-20px pad-20px text-center">@ViewBag.config</div>
<environment include="Staging">

    <p>Hello Ahmed Mohsen</p>

</environment>